/*
  -------------
  Button
  -------------
*/

/* Button - Variants */

.button-base {
  @apply inline-flex items-center justify-center border-b-2 font-medium focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50;
}
.button-primary {
  @apply border-primary-700 bg-primary-700 text-white;
}
.button-secondary {
  @apply border-secondary-700 bg-secondary-500 text-black;
}
.button-supporting1 {
  @apply border-supporting1-700 bg-supporting1-600 text-white;
}
.button-supporting2 {
  @apply border-supporting2-700 bg-supporting2-600 text-black;
}
.button-speed {
  @apply border-speed-700 bg-speed-600 text-white;
}
.button-outline {
  @apply border-neutral-900 bg-white text-neutral-900;
}
.button-ghost {
  @apply border-transparent text-neutral-900 hover:bg-neutral-100 focus-visible:ring-neutral-900;
}

/* Button - Sizes */
.button-size-sm {
  @apply px-3 py-1.5 text-sm;
}
.button-size-md {
  @apply px-4 py-2 text-base;
}
.button-size-lg {
  @apply px-6 py-3 text-lg;
}
.button-size-xl {
  @apply px-8 py-4 text-xl;
}

.button-size-square {
  @apply p-1.5 text-base;
}

/*
  -------------
  Card
  -------------
*/

/* Card - Variants */
.card-default {
  @apply rounded-lg bg-white p-6 shadow-md;
}
.card-bordered {
  @apply rounded-lg border-6 border-dotted border-primary-300 bg-white p-6 transition-colors duration-100 hover:border-primary-400;
}
.card-elevated {
  @apply rounded-lg bg-white p-6 shadow-lg;
}

/*
  -------------
  Tag
  -------------
*/

/* Tag - Base */
.tag-base {
  @apply inline-flex items-center justify-center rounded-md font-medium;
}

/* Tag - Variants */
.tag-primary {
  @apply bg-primary-100 text-primary-700;
}
.tag-secondary {
  @apply bg-secondary-100 text-secondary-700;
}
.tag-supporting1 {
  @apply bg-supporting1-100 text-supporting1-700;
}
.tag-supporting2 {
  @apply bg-supporting2-100 text-supporting2-700;
}
.tag-speed {
  @apply bg-speed-100 text-speed-700;
}
.tag-neutral {
  @apply bg-neutral-100 text-neutral-700;
}

/* Tag - Sizes */
.tag-size-sm {
  @apply px-2 py-1 text-xs;
}
.tag-size-md {
  @apply px-3 py-1.5 text-sm;
}
.tag-size-lg {
  @apply px-4 py-2 text-base;
}
